<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registro.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="descuento">
            <p>20% de descuento en todos los productos</p>
        </div>
        <h2>Nombre Tienda</h2>
    </header>
    <main>
        <form action="../index.html">

            <h1>Registro</h1>
            <div class="nombreApellido">
                <input type="text" name="nombreApellido" id="" placeholder="Nombre y Apellido">
            </div>

            <div class="email">
                <input type="email" name="email" id="" placeholder="Correo Electrónico">
            </div>

            <div class="password">
                <input type="password" name="password" id="" placeholder="Contraseña">
            </div>

            <div class="pais">
                <select name="select" id="">
                    <option value="" selected disabled>País</option>
                    <option value="arg">Argentina</option>
                    <option value="bol">Bolivia</option>
                    <option value="bra">Brasil</option>
                    <option value="chi">Chile</option>
                    <option value="col">Colombia</option>
                    <option value="ecu">Ecuador</option>
                    <option value="par">Paraguay</option>
                    <option value="per">Perú</option>
                    <option value="ven">Venezuela</option>
                </select>
            </div>

            <div class="submitReset">
                <input type="reset" value="Resetear">
                <input type="submit" value="Registrar">
            </div>

            <div class="pregunta">
                <a href="login.html">¿Ya tenés una cuenta?</a><span> Ingresá</span>
            </div>

        </form>
    </main>
    <footer>
        <div>
            <p>Todos los derechos reservados a FRONT END 1</p>
        </div>
    </footer>
</body>
</html>